* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #b0b1b2;
}

/* utilities */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float_left {
  float: left;
}
.position_relative {
  position: relative;
}
.position_relative li {
  line-height: 45px;
}
.dropdown_item {
  display: none;
  position: absolute;
  left: 0;
  top: 80px;
  line-height: 35px;
  border-radius: 10px;
  box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.3), -2px 8px 12px rgba(0, 0, 0, 0.2);
}
.dropdown_item.active {
  display: block;
}
.dropdown_item a:hover {
  color: #191c1f;
}
.dropdown_item i {
  color: #ffffff;
  background-color: #b0b1b2;
  padding: 5px;
  border-radius: 50%;
  vertical-align: middle;
}
/* utilities */

/* generale */
h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
}
ul {
  list-style: none;
}
li {
  padding: 0 20px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #b0b1b2;
  font-weight: 500;
}
a:hover {
  text-decoration: none;
}
/* /generale */


/* header */
header {
  height: 80px;
}
/* header left */
.header_left {
  width: 30%;
  height: 80px;
  line-height: 80px;
}
#intro_list {
  display: flex;
}
#intro_list img {
  width: 30px;
  vertical-align: middle;
}
/* #intro_list a.active {
  color: #191c1f;
} */
/* /header left */

/* header right */
.header_right {
  display: flex;
  width: 70%;
  height: 80px;
  line-height: 80px;
}
.list_section {
  width: 65%;
  height: 100%;
}
#dropdown_list {
  display: flex;
  justify-content: flex-end;
}
#dropdown_list li.position_relative:nth-child(1) .dropdown_item {
  left: -285px;
  width: 1020px;
  padding: 10px;
}
.conto,
.investimenti,
.pagamenti,
.extra {
  width: 25%;
}
ul.deep_list li {
  padding: 0;
}
#dropdown_list li.position_relative:nth-child(2) .dropdown_item {
  width: 160px;
}
#dropdown_list li.position_relative:nth-child(3) .dropdown_item {
  width: 200px;
}
#dropdown_list li.position_relative:nth-child(4) .dropdown_item {
  width: 170px;
}
.buttons_section {
  width: 35%;
  height: 100%;
  text-align: right;
}
.buttons_section button {
  font-weight: 500;
}
.buttons_section button:first-child {
  color: #191c1f;
  background-color: rgba(25, 28, 31, 0.16);
}
.buttons_section button:last-child {
  margin-left: 15px;
  color: #ffffff;
  background-color: #191c1f;
}
/* /header right */
/* /header */
