* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #b0b1b2;
}

/* utilities */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float_left {
  float: left;
}
/* utilities */

/* generale */
ul {
  list-style: none;
}
li {
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: #b0b1b2;
  font-weight: 500;
}
a:hover {
  text-decoration: none;
  color: #191c1f;
}
/* /generale */


/* header */
header {
  height: 100px;
}
/* header left */
.header_left {
  width: 30%;
  height: 100px;
  line-height: 100px;
}
#intro_list {
  display: flex;
}
#intro_list img {
  width: 30px;
  vertical-align: middle;
}
#intro_list a.active {
  color: #191c1f;
}
/* /header left */

/* header right */
.header_right {
  display: flex;
  width: 70%;
  height: 100px;
  line-height: 100px;
}
.list_section {
  width: 65%;
  height: 100%;
}
#dropdown_list {
  display: flex;
  justify-content: flex-end;
}
.buttons_section {
  width: 35%;
  height: 100%;
  text-align: right;
}
.buttons_section button {
  font-weight: 500;
}
.buttons_section button:first-child {
  color: #191c1f;
  background-color: rgba(25, 28, 31, 0.16);
}
.buttons_section button:last-child {
  color: #ffffff;
  background-color: #191c1f;
}
/* /header right */
/* /header */
